.Navigation .search-icon {
    color: white
}

.Navigation .btn:hover .search-icon {
    color: rgb(5 255 161)
}

.Navigation .navbar {
    background-color: #060613;
    z-index: 1050;
}

.Navigation .navbar .nav-link:hover,
.Navigation .navbar .dropdown-toggle:hover {
    color: rgb(5 255 161) !important
}

.Navigation .navbar-toggler:focus {
    box-shadow: none;
}

.Navigation .navbar-nav {
    flex-direction: row;
}

.Navigation .offcanvas {
    background-color: transparent;
    z-index: 2000;
}

.Navigation .offcanvas-header {
    height: 60px;
}

.Navigation .offcanvas-body {
    background-color: #141426;
    padding: 0;
}

.Navigation .offcanvas .row:hover {
    background-color: #060613;
}

.Navigation .offcanvas .offcanvas-login:hover {
    background-color: transparent;
}

.Navigation .offcanvas .btn:hover {
    background-color: transparent;
    color: white
}

.Navigation .accordion-menu {
    background: #060613
}

.Navigation .accordion-item,
.Navigation .accordion-button {
    background-color: transparent;
    color: white;
    font-size: bold;
}

.Navigation .dropdown-menu {
    background-color: #141426;
}

.Navigation .dropdown-item {
    font-size: 0.9rem;
}


.Navigation .dropdown-item:hover {
    background-color: #060613;
}

.Navigation a {
    text-decoration: none;
    color: white;
}

.Navigation hr {
    margin: 0
}