.CreditCard .text-vertical {
    font-size: 0.5em;
    writing-mode: vertical-rl;
}

.CreditCard .card-img {
    object-fit: cover;
}

.CreditCard .card-title {
    font-size: 1.5em;
}

.CreditCard {
    opacity: 80%;
}

.CreditCard:hover {
    opacity: 100%
}