.MovieCard .text-vertical {
    font-size: 0.5em;
    writing-mode: vertical-rl;
}

.MovieCard .card-img {
    object-fit: cover;
}

.MovieCard .card-title {
    font-size: 1.5em;
}

.MovieCard {
    opacity: 80%;
}

.MovieCard:hover {
    opacity: 100%
}